{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block content %}

<div class="cloud-layer">
     <div class="cloud small"></div>
    <div class="cloud"></div>
    <div class="cloud large"></div>
</div>

<div class="home-hero">
    <h1>{{ page.title }}</h1>
    <p>Welcome to Daisy, your soft and cozy corner of the internet.</p>
</div>

<div class="home-wrapper">
    {{ page.body|richtext }}
</div>

{% endblock %}
