{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="page-hero">
    <h1>{{ page.title }}</h1>
    <p class="post-date">Published on {{ page.date }}</p>
</div>

<div class="page-wrapper blog-post">

    {% with authors=page.authors.all %}
        {% if authors %}
            <div class="author-info">
                <ul>
                    {% for author in authors %}
                        <li class="author-item">
                            {% image author.author_image fill-60x60 %}
                            <span>{{ author.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    {% if page.intro %}
        <div class="post-intro">
            {{ page.intro|richtext }}
        </div>
    {% endif %}

    <div class="post-body">
        {{ page.body|richtext }}
    </div>

    {% with images=page.image_gallery.all %}
        {% if images %}
            <div class="post-gallery">
                {% for image in images %}
                    <div class="gallery-item">
                        {% image image.images fill-340x340 %}
                        {% if image.caption %}
                            <p>{{ image.caption }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="post-footer">
        <a href="{{ page.get_parent.url }}">← Back to blog</a>

        {% with tags=page.tags.all %}
            {% if tags %}
                <div class="tag-list">
                    {% for tag in tags %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="tag-button">
                            {{ tag }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

</div>
{% endblock %}
